<div class="feedback">
              <div class="feedback__static rating">
    <h3 class="rating__title">{{ feedback.ratingTitle }}</h3>
        <img class="rating__img" src="images/rating.png">
        <p class="rating__text">{{ feedback.webstoreRating }}</p>
    </div>
<div class="slider">
        <div class="slide">
            <div class="slide__box">
            <div class="slide__left">
            <p class="slide__name">{{ feedback.slideName }}</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            </div>
        
            <div class="slide__right">
            <div class="slide__q">
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>{{ feedback.slideFeedback }}</p>
            </div>
                </div>
        </div>
              </div>
            
            <div class="slide">
            <div class="slide__box">
            <div class="slide__left">
            <p class="slide__name">{{ feedback.slideName }}</p>
            <div class="slide__photo">
            <img src="images/photo.jpg" alt="photo">
            </div>
            </div>
        
            <div class="slide__right">
            <div class="slide__q">
            <img class="slide__q" src="images/q.png"></div>
            <div class="slide__feedback">
                <p>{{ feedback.slideFeedback }}</p>
            </div>
                </div>
        </div>
              </div>
    
          </div>
</div>
