<footer id="footer">
<div class="fotter__left">
    <p class="copyright">{{ footer.copyright }}</p>
    <a href="#" class="fotter__link">{{ footer.conditions }}</a>
    <a href="#" class="fotter__link">{{ footer.policy }}</a>
    </div>
    <div class="footer__feedback">
    <h5 class="feedback__title">{{ footer.suggestions }}</h5>
        <a href="#" class="btn_feedback" id="formBtn">{{ footer.feedback }}</a>
    </div>
</footer>