<header id="header">
    
<div class="promo">
      <div class="promo__left">
          <div class="header__left">
    <a href="#" class="logo">{{ header.priceSuggester }}</a>
    </div>
          <div class="promo__container">
         <div class="promo__left_box promoAnimation">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">{{ header.suggested }}</span>
            </div>
            <img class="promoAnimation__img" src="images/1.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>{{ header.bestPrice }}</p>
                  <p class="aminationBottom__left_item">{{ header.sneakers }}</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price">{{ header.price }}</span>
                   <div class="aminationBottom__right_red"></div>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>
    
     <div class="promo__left_box promoAnimation2">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">{{ header.suggested }}</span>
            </div>
            <img class="promoAnimation__img" src="images/1.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>best price for</p>
                  <p class="aminationBottom__left_item">{{ header.sneakers }}</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price">{{ header.price }}</span>
                   <div class="aminationBottom__right_red2"></div>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>

         <div class="promo__left_box promoAnimation3">
            <div class="promoAnimation__top">
               <span class="promoAnimation__top_suggested">{{ header.suggested }}</span>
            </div>
            <img class="promoAnimation__img" src="images/1.png" alt="">
            <img class="promoImg" src="images/shadow.png" alt="">
            <div class="promoAnimation__bottom aminationBottom">
               <div class="aminationBottom__left">
                  <p>best price for</p>
                  <p class="aminationBottom__left_item">{{ header.sneakers }}</p>
               </div>
               <div class="aminationBottom__right">
                  <span class="aminationBottom__right_price priceAnim">{{ header.price }}</span>
                  <img src="images/tray.png" alt="">
               </div>
            </div>
         </div>
    </div>
    </div>
    
    <div class="promo__right righttext">
        <div class="header__right">
    <span class="header__topRight">{{ header.easyInstantSmart }}</span>
</div>
        <div class="promo__right_container">
         <p class="righttext__main">{{ header.possiblePrices }}</p>
         <p class="righttext__small">{{ header.installPrice }}</p>
         <a class="righttext__button promoButton"href="#">
            <img src="images/g.png" alt="" class="promoButton__img">
            <p class="promoButton__text_first">{{ header.useForFree }}</p>
            <p class="promoButton__text">{{ header.registrationForms }}</p>
         </a>
      </div>
    </div>
</div>

</header>